body {
font-family: "Times New Roman", Times, sans-serif;
font-style: italic;
}

input[type=" fname"],
input[type="lname"],
input[type="email"],

textarea,
select {
  font-size: 14px;
  height: auto;
  width: 60%;
  padding: 10px;
  background-color: #c2c2a3;
  margin-bottom: 10px;
  border: none;
}
  
